---
import Video from "@/components/Video.astro"
import Wrapper from "@/components/Wrapper.astro"
import Header from "@/components/Header.astro"
import Layout from "@/layouts/Layout.astro"
import Intro from "@/components/Intro.astro"
import Bento from "@/components/Bento.astro"
---

<Layout
  title="Esland Clone"
  description="Premios para los mejores creadores de contenido de España,LatinoAmerica y Andorra"
>
  <div class="relative">
    <Header />
    <Video />
    <Intro />
    <Bento />
  </div>
</Layout>
