<div class="relative w-full">
  <div class="">
    <img
      src="/logo-home.svg"
      alt=""
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-40 aspect-[417/300]"
    />
  </div>
  <video
    style="clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%)"
    src="/esland.mp4"
    loop
    autoplay
    muted
    class="w-full h-screen object-cover object-top"></video>
  <video
    autoplay
    loop
    muted
    src="/esland.mp4"
    class="absolute -bottom-48 blur-3xl -z-40"></video>
  <button
    class="border border-gray-200 rounded-full py-2 px-6 text-xl absolute bottom-20 left-1/2 z-[9999] -translate-x-1/2 hover:scale-125 transform transition-transform"
    >REVIVE LA 2ª EDICIÓN</button
  >
</div>
